<section>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://i.imgur.com/vNvLP15.png" alt="">
    <h1 class="display-5 fw-bold">Dr. Dolittle's</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">It's a doggy dog world!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/signup"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Register Now</button></a>
        <a id="aboutUs>"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button></a>
      </div>
    </div>
  </div>
</section>

<section id="aboutUs">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">What We Do</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Develop a Routine</h2>
        <p>We keep your furry friend on a consistent schedule from breakfast to playtime.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Supplemental Dog Education</h2>
        <p>People say your dog is your best friend, so their health is as important as your own. Checkout our educational classes on which foods and supplements are best.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Provide Peace of Mind</h2>
        <p>No need to worry while at work, your pup is in good hands! We will provide updates and photos to make your workday better.</p>
      </div>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Meet Our Happy Puppers</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Bo, 2 years old</h2>
        <p>He has been part of the doggy dog world since eight months old. He loves playtime and belly rubs.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Jax, 3 years old</h2>
        <p>He loves treats and any kind of sports ball. Jax has been part of this doggy family for two years now.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Bella, 9 months old</h2>
        <p>Our newest member is Bella and she loves to sleep most of the day. Working on potty training and basic commands; so far she's doing well when she's not napping.</p>
      </div>
    </div>
  </div>
</section>

<section>
  {{#each dog as |dogs|}}
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{dog.name}}</h5>
      <p class="card-text">{{dog.age}}</p>
      <p class="card-text">{{dog.breed}}</p>
      <p class="card-text">{{dog.size}}</p>
      <p class="card-text">Owned by: {{owner.first_name}}</p>
    </div>
  </div>
  {{/each}}
</section>







  
  
  
