{{!-- <ol class="post-list">
  {{#each dogs as |dog|}}
  <li>
    {{> dog-info dog }}
  </li>
  {{/each}}
</ol> --}}

<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="img\hero.jpg" width="900" 
     height="400"/></div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Doggy Daycare</h1>
        <p>It's a doggy dog world, and we make sure your pup is prepared for it!</p>
          <a href="/signup"><button type="button">Register Now</button></a>
          <a href="/contactus"><button type="button" class="btn-no-style">Contact Us</button></a>
      </div>
</div>

<div style="background-color:#225ca3" class="card text-white my-5 py-4 text-center">
  <div class="card-body"><h2 class="text-white m-0">Dr. Dolittle's </h2><img src="img\paw-solid.svg" height="100" width="100"/></div>
</div>
{{!-- <section>
  <ol class="post-list">
    {{#each dogs as |dog|}}
    <li>
      {{> dog-info dog }}
    </li>
    {{/each}}
  </ol>
</section> --}}

<section id="aboutUs">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">What We Do</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
         <svg class="bi" width="1em" height="1em"><img class="img" src="img\daycare-1.jpg" alt="first daycare image"/></svg>
        </div>
        <h2>Develop a Routine</h2>
        <p>We keep your furry friend on a consistent schedule from breakfast to playtime.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
         <svg class="bi" width="1em" height="1em"><img class="img" src="img\daycare-2.jpg" alt="second daycare image"/></svg>
        </div>
        <h2>Educational Classes</h2>
        <p>People say your dog is your best friend, so their health is as important as your own. Checkout our educational classes on which foods and supplements are best.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
         <svg class="bi" width="1em" height="1em"><img class="img" src="img\daycare-3.jpg" alt="third daycare image"/></svg>
        </div>
        <h2>Provide Peace of Mind</h2>
        <p>No need to worry while at work, your pup is in good hands! We will provide updates and photos to make your workday better.</p>
      </div>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="container px-4">
    <h2 class="pb-2 border-bottom text-center">Meet Our Happy Puppers</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><img class="img" src="img\puppy-1.jpg" alt="first puppy image"/></svg>
        </div>
        <blockquote class="blockquote">
          <h2>Bo, 2 years old</h2>
          <p class="font-italic">He has been part of the doggy dog world since eight months old. He loves playtime and belly rubs.</p>
          <footer class="blockquote-footer">Bo's Owner, <cite title="Source Title">User 1</cite></footer>
        </blockquote>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><img class="img" src="img\puppy-2.jpg" alt="second puppy image"/></svg>
        </div>
        <blockquote class="blockquote">
          <h2>Jax, 3 years old</h2>
          <p class="font-italic">He loves treats and any kind of sports ball. Jax has been part of this doggy family for two years now.</p>
          <footer class="blockquote-footer">Jax's Owner, <cite title="Source Title">User 2</cite></footer>
        </blockquote>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><img class="img" src="img\puppy-3.jpg" alt="third puppy image"/></svg>
        </div>
        <blockquote class="blockquote">
          <h2>Bella, 9 months old</h2>
          <p class="font-italic">Our newest member is Bella and she loves to sleep most of the day. Working on potty training and basic commands; so far she's doing well when she's not napping.</p>
          <footer class="blockquote-footer">Bella's Owner, <cite title="Source Title">User 3</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{{!-- <section>
  {{#each dog as |dogs|}}
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{dog.name}}</h5>
      <p class="card-text">{{dog.age}}</p>
      <p class="card-text">{{dog.breed}}</p>
      <p class="card-text">{{dog.size}}</p>
      <p class="card-text">Owned by: {{owner.first_name}}</p>
    </div>
  </div>
  {{/each}}
</section> --}}







  
  
  
